<a href="https://colab.research.google.com/github/pleimi/cursos_Jeff_Heaton_Washinton_University_leccion1/blob/main/Aritmetica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 2 + 5  # REFERENCIA https://www.youtube.com/watch?v=MyeCc-Xwi5g&t=11052s
print(a)

7

In [ ]:
b = 2**3
print(b)

8

In [ ]:
c = a/b
a = 8 
b = 2
print(c)

4.0

In [ ]:
d = a % b #  el modulo  % me devuelve lo que sobra de la division 
a = 9
b = 2
print(d)

1

In [ ]:
d = a // b #  la division ENTERA // me devuelve solo el entero de la division 
a = 9
b = 2
print(d)

4

OPERACIONES LOGICAS

In [ ]:
# Y tambien OR tambien XOR ( SON EXPRESIONES BOOLEANAS )
a = 2
b = 3 
c = a > b 
print(c)
c = a < b
print(c)
d = a > 0 and b < 2
print(d)
a > 0 or b < 2

False
True
False

True

CONVERTIR TUPLAS A LISTAS Y BICEVERSA

In [ ]:
tupla1 = (1,2,3,)
print(tupla1)

(1, 2, 3)

In [ ]:
lista1 = [3,4,5]
print(lista1)

[3, 4, 5]

In [ ]:
lista2 = list(tupla1)
print(lista2)

[1, 2, 3]

In [ ]:
tupla2 = tuple(lista1)
print(tupla2)

(3, 4, 5)

PARA ACCEDER A LOS INDICES SE ENCIERRAN CON CORCHETES [ ]

In [ ]:
lista1 [0] # acced al indice cero

3

In [ ]:
tupla1 [1] # accedo al indice 1

2

In [ ]:
lista2 [1] = 5 # cambia el indice 1 por el valor 5
print(lista2)  # NOTA: las tuplas ni las cadenas de caracteres permiten cambiar valores

[1, 5, 3]

CONVERTIMOS UN STRING A UNA TUPLA

In [ ]:
a = "este string lo cambiamos a tupla"
print(tuple(a))

('e', 's', 't', 'e', ' ', 's', 't', 'r', 'i', 'n', 'g', ' ', 'l', 'o', ' ', 'c', 'a', 'm', 'b', 'i', 'a', 'm', 'o', 's', ' ', 'a', ' ', 't', 'u', 'p', 'l', 'a')

MULTIPLICACION DE SECUENCIAS

In [ ]:
lista3 = [1,2,3,4,5]   # se REPITE LA LISTA n VECES
lista = lista3 * 2
print(lista)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

SABER SI UN ELEMENTO ESTA EN LA LISTA O TUPLA O CADENA

In [ ]:
print(6 in lista3)
print(3 in lista3)
print(4 not in lista3) # es falso por que si está

False
True
False

SLICING DE SECUENCIA, TOMAR TROCITOS

In [ ]:
tupla1 = (1,2,3)
lista1 = [1,2,3]
cadena1 = "sacar trocitos"

print(tupla1[0])
print(lista1[::]) # me da todo
print(cadena1[-1])  # el -1 significa que empiece a contar desde atras
print(cadena1[:2:1]) # deme hasta el indice 2 de uno en uno 
print(cadena1[2::2]) # deme todo desde el indice 2 y salte dea dos caracteres
print(cadena1[::-1]) # para voltear los elementos
print(tupla1[::-1])

1
[1, 2, 3]
s
sa
crtoio
soticort racas
(3, 2, 1)

In [ ]:
print(lista1) # me deberia devolver [1,2,3]
lista2 = lista1[:2] # para cambiar el elemento de la lista 
lista2[0] = 25
print(lista2)

[25, 2, 3]
[25, 2]

para SABER CUANDO APARECE UN ELEMENTO

In [ ]:
print(cadena1.index("a")) # le pregunto donde esta la primera a

1

CUENTA NUMEROS

In [120]:
lista = [3,5,23,12,5,36,12,12,4,4,1,2,3]
print(lista.count(3))
print(lista.count(5))

2
2

COMBINAR UNA LISTA Y UNA TUPLA

In [126]:
tupla1 = (1,2,3,4,5)
lista1 = ["uno","dos","tres","cuatro","cinco"]

tuplaLista = zip(tupla1, lista1) # DEVUELVE UNA LISTA DE TUPLAS
print(list(tuplaLista))

[(1, 'uno'), (2, 'dos'), (3, 'tres'), (4, 'cuatro'), (5, 'cinco')]

SECUENCIAS NUMERICAS

In [127]:
lista = range(10)
print(lista)

range(0, 10)

In [128]:
lista = range(10)
print(list(lista))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [132]:
lista2 = range(1, 39)
print(list(lista2))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38]

In [139]:
lista3 = range(1, 39, 2)  # me da los numeros de 2 en 2 
print(list(lista3))
print(tuple(lista3))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37]
(1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37)

In [141]:
lista4 = [1, 3, 5, 7, 9, 11]
lista4.append(4) # INSERTA AL FINAL 
print(lista4)

[1, 3, 5, 7, 9, 11, 4]

In [142]:
lista4.insert(1, 6) # en el indice 1 inserteme el numero 6
print(lista4)

[1, 6, 3, 5, 7, 9, 11, 4]

REEMPLAZAR DATOS

In [144]:
lista4 [2:4] = [8,10]
print(lista4)

[1, 6, 8, 10, 7, 9, 11, 4]

In [145]:
lista4 [2:5] = [12,13]  # como del 2 al 5 hay 3 numeros, inserta los 2 q le indico y desaparece el tercer numero, en este caso el 7
print(lista4)

[1, 6, 12, 13, 9, 11, 4]

In [ ]:
ELIMINAR Y RECUPERAR UN DATO

In [152]:
lista1 = [ 23, 25, 27, 29, 31, 33, 35, 37] 
lista1.pop(2)   # me eliminó el 27 que estaba en el indice 2
print(lista1)
lista1.pop()   # POR DEFECTO me eliminó el último elemento por que no le doy el indice como parametro.
print(lista1)

[23, 25, 29, 31, 33, 35, 37]
[23, 25, 29, 31, 33, 35]

In [153]:
lista1.remove(25)   # elimina de la lista el dato. NOTA: si hay varios, solo elimina el primero
print(lista1)

[23, 29, 31, 33, 35]

In [162]:
lista = [5,8,4,3,6,7,8,9,1,2,3]  # me ORDENA la lista
lista.sort()
print(lista)

lista.sort(reverse=False)
print(lista)

lista.sort(reverse=True)
print(lista)

[1, 2, 3, 3, 4, 5, 6, 7, 8, 8, 9]
[1, 2, 3, 3, 4, 5, 6, 7, 8, 8, 9]
[9, 8, 8, 7, 6, 5, 4, 3, 3, 2, 1]

In [157]:
print(lista[::-1])

[9, 8, 8, 7, 6, 5, 4, 3, 3, 2, 1]

RECUPERACION INVERSA DE ELEMENTOS

In [159]:
lista.reverse()
print(lista)

[9, 8, 8, 7, 6, 5, 4, 3, 3, 2, 1]

FUSION DE LISTAS

In [163]:
lista1 = [1,3,4,2,5]
lista2 = [7,8]
lista1.extend(lista2)  # aqui SI MODIFICO LA LISTA UNO 
print(lista1)

[1, 3, 4, 2, 5, 7, 8]

In [164]:
lista3 = lista1 + lista2   # aqui NO SE MODIFICA la lista1 se mantiene
print(lista3)

[1, 3, 4, 2, 5, 7, 8, 7, 8]

CONVERSION DE MAYUSCULAS A MINUSCULAS

In [165]:
lista1 = " estamos convirtiendo strings a mayusculas "
print(lista1.upper())

 ESTAMOS CONVIRTIENDO STRINGS A MAYUSCULAS

In [166]:
lista2 = "ESTAMOS CONVIRTIENDO STRINGS A MINUSCULAS"
print(lista2.lower())

estamos convirtiendo strings a minusculas

SEGMENTAR POR CARACTERES

In [175]:
cadena1 = " esto es una prueba de segmentacion "
print(cadena1.split("e"))  # SEPARA cada vez que ENCUENTRE la e 
print(cadena1.split())  # separa por espacios

[' ', 'sto ', 's una pru', 'ba d', ' s', 'gm', 'ntacion ']
['esto', 'es', 'una', 'prueba', 'de', 'segmentacion']

REEMPLAZAR CADENAS

In [185]:
reemplazar = " vamos a reemplazar una frace por otra otra vez"
print(reemplazar.replace("otra", "other"))
print(reemplazar)
print(reemplazar.replace("otra", "other", 1))  # especifico que solo cambie "otra" soilo la primera vez

 vamos a reemplazar una frace por other other vez
 vamos a reemplazar una frace por otra otra vez
 vamos a reemplazar una frace por other otra vez