<a href="https://colab.research.google.com/github/pleimi/cursos_Jeff_Heaton_Washinton_University_leccion1/blob/main/importar_tabla_de_web.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd    # https://www.youtube.com/watch?v=tnq-f88Yofg&t=319s

In [ ]:
colors = 'https://en.wikipedia.org/wiki/List_of_colors:_A%E2%80%93F'
cols_df = pd.read_html(colors)

In [ ]:
len(cols_df)

7

In [ ]:
cols_df[0]

                  Name Hex (RGB) Red (RGB)  ... Light (HSL) Satur. (HSV) Value (HSV)
0        Absolute Zero   #0048BA        0%  ...         37%         100%         73%
1           Acid green   #B0BF1A       69%  ...         43%          76%         43%
2                 Aero   #7CB9E8       49%  ...         70%          47%         91%
3            Aero blue   #C0E8D5       75%  ...         83%        17.2%         91%
4       African violet   #B284BE       70%  ...         63%          31%         75%
..                 ...       ...       ...  ...         ...          ...         ...
331  Fuchsia (Crayola)   #C154C1       76%  ...         54%          56%         76%
332     Fuchsia purple   #CC397B       80%  ...         51%          72%         80%
333       Fuchsia rose   #C74375       78%  ...         52%          66%         78%
334            Fulvous   #E48400       89%  ...         45%         100%         89%
335        Fuzzy Wuzzy   #87421F       53%  ...         33%          77%         53%

[336 rows x 10 columns]

In [ ]:
oils = 'https://ahdb.org.uk/cereals-oilseeds-markets'

In [ ]:
df = pd.read_html(oils)

ValueError: ignored

In [ ]:
!pip install selenium bs4

Requirement already satisfied: selenium in /usr/local/lib/python3.6/dist-packages (3.141.0)
Requirement already satisfied: bs4 in /usr/local/lib/python3.6/dist-packages (0.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from selenium) (1.24.3)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (from bs4) (4.6.3)

In [ ]:
!apt-get update

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:3 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran35/ InRelease
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:5 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Hit:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:10 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic InRelease
Get:11 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Fetched 252 kB in 2s (152 kB/s)
Reading package lists... Done

In [ ]:
!apt install chromium-chromedriver

Reading package lists... Done
Building dependency tree
Reading state information... Done
chromium-chromedriver is already the newest version (85.0.4183.83-0ubuntu0.18.04.2).
The following package was automatically installed and is no longer required:
  libnvidia-common-440
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 77 not upgraded.

In [ ]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
options = webdriver.ChromeOptions()
options.add_argument('--headless')
options.add_argument('--no-sandbox')
options.add_argument('--disable-dev-shm-usage')

In [ ]:
site = 'https://ahdb.org.uk/cereals-oilseeds-markets'

In [ ]:
wd = webdriver.Chrome('chromedriver',options=options)
wd.get(site)

In [ ]:
html = wd.page_source

In [ ]:
df = pd.read_html(html)

In [ ]:
df[0]

  UK (ICE) Feed Wheat         £/tonne  Unnamed: 2
0              Nov 20  177.00 (-0.75)         NaN
1              Jan 21   177.75 (unch)         NaN
2              Mar 21   178.60 (unch)         NaN
3              May 21  179.25 (-1.00)         NaN
4              Jul 21   167.05 (unch)         NaN
5              Nov 21  155.00 (-1.00)         NaN
6              Jan 22   156.00 (unch)         NaN
7              Mar 22   157.75 (unch)         NaN
8              May 22   159.70 (unch)         NaN
9              Nov 22   153.70 (unch)         NaN

In [ ]:
df[1].to_csv('MATIF.csv')

In [ ]:
df[2]