<a href="https://colab.research.google.com/github/pleimi/Scripts_Jeff_Heaton_Washinton_University_leccion1/blob/main/lecciop2Jeff_Heaton_listasYdiccionariosy_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.youtube.com/watch?v=kcGx2I5akSs&list=PLjy4p-07OYzulelvJ5KVaT2pDlxivl_BN

In [ ]:
c = ['a', "b" ,'c', 'd']
c.append('e')
print(c)

['a', 'b', 'c', 'd', 'e']

In [ ]:
for s in c:  # para iterar valores en una lista 
  print(s)

a
b
c
d
e

In [ ]:
idx = 0              # cual es el indice de un valor 
for s in c: 
  print(f'{s} - {idx}')
  idx +=1

a - 0
b - 1
c - 2
d - 3
e - 4

In [ ]:
for i,c in enumerate(c):  # para modificar un valor en particular 
  print(f"{i}:{c}")

0:a
1:b
2:c
3:d
4:e

In [ ]:
c = []  # con diccionarios con brakets cuadrados si se puede duplicar los valores
c.append('a')
c.append('b')
c.append('c')
c.append('c')
print(c)

['a', 'b', 'c', 'c']

In [ ]:
c = set ()  # con set en () no se pueden tener valores repetidos, si se pueden eliminar
c.add('a')
c.add('b')
c.add('c')
c.add('c')
print(c)

In [ ]:
c = ['a','b', 'c']  
c.insert(0, 'a0')
print(c)
c.remove('b')  # borra el valor 
print(c)
del c[2]    # borra lo que esta ubicado en el indice tal 
print(c)

In [ ]:
d = {'nombre':"juan carlos",'direccion':"cra 14 44 a 57 sur"}
print(d)
print(d['nombre']) # obtener valores de un diccionario 
if 'nombre' in d:
  print('el nombre esta defined')
if 'edad' in d:
  print('edad no esta definido')
else:
  print("edad no esta definida")

In [ ]:
print(f"key: {d.keys()}") # obtengo las claves del diccionario

In [ ]:
print(f"values: {d.values()}")  # obtengo los valores

In [ ]:
customers = [
      {"name": "Jeff & Tracy Heaton", "pets":["Winton", "Cricket", "Hickory"],    # hay un error
      {"name": "Jhon Smith", "pets": ["rover"]},
      {"name": "Jane Doe"}
]

print(customers)

for customer in customers:
  print(f"{customer['name']}:{customer.get('pets', 'no pets')}")

In [ ]:
a = [1,2,3,4,5]
b = [5,4,3,2,1]      # para combinar listas  y hacer series de tuplas 

print (list(zip(a,b)))

In [ ]:
for x, y  in zip(a,b):  # imprime en columnas
  print(f'{x} - {y}')

In [ ]:
a = ['one','two','three','four','five']  # enumerate es para encontrar el indice de los valores en un diccionario
list(enumerate(a))

Para encontrar el indice de cada valor

In [ ]:
for idx, item in enumerate(a):
  print(f'Index {idx} holds "{item}"')

la comprensi√°n debajo cuenta de 0 a 9 y agrega cada valor a la lista multiplicado por 10

In [ ]:
lst = [x*10 for x in range(10)]
print(lst)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

para encontrar las CABECERAS de los textos en las columnas

In [ ]:
text = ['col-zero','col-one', 'col-two','col-three']
lookup = {key:value for (value,key) in enumerate(text)}
print(lookup)

{'col-zero': 0, 'col-one': 1, 'col-two': 2, 'col-three': 3}