<a href="https://colab.research.google.com/github/pleimi/cursos_Jeff_Heaton_Washinton_University_leccion1/blob/main/numeros_slicing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 4+4  # referencia: https://www.youtube.com/watch?v=ppz1e_ceeIw

b = 4.5 + 4.56

c = 7 % 4 # dividir por el modulos es para saber cuanto sobra ( asi sabemos si es par o impar )


print(a, b, c)

8 9.059999999999999 3

RESTAR DOS VARIABLES

In [ ]:
vida = 100
daño = 25

print (vida - daño)
type(vida)

75

int

los SLICING son para agarrar indices

In [ ]:
#  con corchetes se toma un indice [] puede ser un grupo de caracteres
 # se forma con un INICIO un FINAL y un PASO ( es de cir,  cuanto me voy a saltar para agarrar el que se necesita)
   # ejemplo [0:65:3] inicia en 3 va hasta 8 y me agarra cada 2

In [ ]:
mi_ejemplo = "este es un ejemplo de slicing en python para volvernos unos duros"
mi_ejemplo_separado = "este es un ejemplo de slicing en python \n para volvernos unos duros" #  alt 90 
print(mi_ejemplo)
print(mi_ejemplo_separado)
print(mi_ejemplo[0:65:3])
print(len(mi_ejemplo))

este es un ejemplo de slicing en python para volvernos unos duros
este es un ejemplo de slicing en python
 para volvernos unos duros
eesnjp  ineph rvvn odo
65

In [ ]:
name = "san"
print(name)
print(name[:])  # tambien [::]
ultimas_letras = name[1:]
print(ultimas_letras)
print('p' + ultimas_letras)

san
san
an
pan

In [ ]:
name = ['sam']
name[0] = 'p'
print(name)

['p']

In [ ]:
name = ['s','a','m']
name[0] = 'p'
print(name)

['p', 'a', 'm']

In [ ]:
name = "san"
print(name)
print(name[:])
ultimas_letras = name[1:]
print(ultimas_letras)
print('p' + ultimas_letras) # cambia la s por p

san
san
an
pan

MULTIPLICAR CARACTERES

In [ ]:
letra = 'j'
muchas_letras = letra * 20
print(muchas_letras)

jjjjjjjjjjjjjjjjjjjj

pasar de MINUSCULAS a MAYUSCULAS

In [ ]:
palabra_mayuscula = 'paLaBra Minuscula'
palabra_M = palabra_mayuscula.upper()
print(palabra_M)

PALABRA MINUSCULA

In [ ]:
palabra_minuscula = 'paLaBra Minuscula'
palabra_m = palabra_minuscula.lower()
print(palabra_m)

palabra minuscula

In [ ]:
concatenar = '2' + '3'
print(concatenar) # tener cuidado con el resultado mostrado al pasar de texto a numeros

23

para SEPARAR PALABRAS

In [ ]:
separar_palabras = "juan carlos el gambler"
separar_palabras = separar_palabras.split('a')
print(separar_palabras)

['ju', 'n c', 'rlos el g', 'mbler']

separa cuando tiene una barra

In [ ]:
barra = "juan carlos el soñador "
barra = barra.split('│')  # pendiente la funcion de la barra
print(barra)

['juan carlos el soñador ']

utilización de la función .FORMAT

In [ ]:
print("de esta manera podemos insertar {}".format('texto'))

de esta manera podemos insertar texto

In [ ]:
print( "de {} manera {} insertar lo que {}".format('esta','podemos','queramos'))

de esta manera podemos insertar lo que queramos

In [ ]:
print( "de {0} manera {1} insertar lo que {2}".format('esta','podemos','queramos')) # insertamos por indice

de esta manera podemos insertar lo que queramos

In [ ]:
print( "de {e} manera {p} insertar lo que {q}".format(e='esta',p='podemos',q='queramos')) # insertamos por variable

de esta manera podemos insertar lo que queramos

In [ ]:
decimales = 100/888 # se concatena un float
print(decimales)
# el 1 (width) es el valor y el 3 es la precisión (f)
print("el resultado es {d:1.3f}".format(d=decimales))

0.11261261261261261
el resultado es 0.113

In [ ]:
nombre = 'juan carlos'
edad = 50 
print("mi nombre es {}".format(nombre))
print(f"mi nombre es {nombre} y mi edad es {edad} años")

mi nombre es juan carlos
mi nombre es juan carlos y mi edad es 50 años

LISTAS; son secuencias MUTABLES, se utilizan los corchetes alt 91/93

In [ ]:
lista_de_prueba = [1,2,3]
print(lista_de_prueba)

[1, 2, 3]

In [ ]:
lista_de_prueba = ["cadena",1,2,3]
print(lista_de_prueba)
lista_de_prueba = ["cadena",1,2,3]
print(len(lista_de_prueba))  # muestra la longitud (cantidad de elementos) de la lista

['cadena', 1, 2, 3]
4

In [ ]:
lista_de_prueba = ['uno''dos''tres']
print(lista_de_prueba)
lista_de_prueba = ['uno','dos','tres']
print(lista_de_prueba)
lista_de_prueba_con_5 = ['uno','dos','tres','cuatro','cinco']
print(lista_de_prueba_con_5)
print(lista_de_prueba_con_5[2:]) # hacemos slicing desde el indice 2

['unodostres']
['uno', 'dos', 'tres']
['uno', 'dos', 'tres', 'cuatro', 'cinco']
['tres', 'cuatro', 'cinco']

In [ ]:
lista1 = ['uno','dos','tres']
print(lista1)
lista2 = ['cuatro','cinco','seis']
print(lista2)
nueva_lista = lista1 + lista2  # concatena listas 
print(nueva_lista)
nueva_lista.copy
print(nueva_lista)
nueva_lista [1] = 'juan carlos' # reemplazamos de la lista el indice 1, es decir el item 'dos'
print(nueva_lista)
nueva_lista.append(3) # agrega un item al final de la lista
print(nueva_lista)
nueva_lista.clear() # vacia la lista
print(nueva_lista)

['uno', 'dos', 'tres']
['cuatro', 'cinco', 'seis']
['uno', 'dos', 'tres', 'cuatro', 'cinco', 'seis']
['uno', 'dos', 'tres', 'cuatro', 'cinco', 'seis']
['uno', 'juan carlos', 'tres', 'cuatro', 'cinco', 'seis']
['uno', 'juan carlos', 'tres', 'cuatro', 'cinco', 'seis', 3]
[]

In [ ]:
lista1 = ['uno','dos','tres']
print(lista1)
lista1.pop()
print(lista1)
item_popeado = lista1.pop(-1)
print(item_popeado)
lista1.insert(0,'1')
print(lista1)
lista1.remove('uno')
print(lista1)
lista1.extend('cuatrocientos')
print(lista1)
lista1.append('cuatro')
print(lista1)
lista1.count('cuatros')

['uno', 'dos', 'tres']
['uno', 'dos']
dos
['1', 'uno']
['1']
['1', 'c', 'u', 'a', 't', 'r', 'o', 'c', 'i', 'e', 'n', 't', 'o', 's']
['1', 'c', 'u', 'a', 't', 'r', 'o', 'c', 'i', 'e', 'n', 't', 'o', 's', 'cuatro']

0

DICCIONARIOS mapeos desordenados para guardar objetos En lugar de indece se busca es por clave

In [1]:
diccionario1 = {'clave1':'valor1','clave2':'valor2','clave3':'valor3'}
print(diccionario1)

{'clave1': 'valor1', 'clave2': 'valor2', 'clave3': 'valor3'}

In [4]:
print(diccionario1['clave1'])

valor1

In [27]:
numeros = {'1':'uno','2':'dos','3':'tres','4':'cuatro','5':'cinco'}
print(numeros)
print(numeros['5'])
diccionario = {'1':'uno','2':'dos','manzanas':'2:90','criptomonedas':['bitcoin','etherium'],'4':'cuatro','5':'cinco'}
print(diccionario)  # se pueden insertar listas dentro de los diccionarios  
print(diccionario['criptomonedas'][1].upper())
diccionario ['gaseosa'] = 1000 # asi podemos AGREGAR VALORES al diccionario  y cambiar su valor 
print(diccionario) 
print(diccionario.keys()) # para ver TODAS LAS CLAVES
print(diccionario.values()) #para ver TODOS LOS VALORES
print(diccionario.items()) # me devuelve los elementos en PARENTESIS

{'1': 'uno', '2': 'dos', '3': 'tres', '4': 'cuatro', '5': 'cinco'}
cinco
{'1': 'uno', '2': 'dos', 'manzanas': '2:90', 'criptomonedas': ['bitcoin', 'etherium'], '4': 'cuatro', '5': 'cinco'}
ETHERIUM
{'1': 'uno', '2': 'dos', 'manzanas': '2:90', 'criptomonedas': ['bitcoin', 'etherium'], '4': 'cuatro', '5': 'cinco', 'gaseosa': 1000}
dict_keys(['1', '2', 'manzanas', 'criptomonedas', '4', '5', 'gaseosa'])
dict_values(['uno', 'dos', '2:90', ['bitcoin', 'etherium'], 'cuatro', 'cinco', 1000])
dict_items([('1', 'uno'), ('2', 'dos'), ('manzanas', '2:90'), ('criptomonedas', ['bitcoin', 'etherium']), ('4', 'cuatro'), ('5', 'cinco'), ('gaseosa', 1000)])

In [ ]:
TUPLAS se usa para no asignar items por error, los elementos no pueden ser re-asignados son INMUTABLES

In [48]:
t = (1,4,3) # con parentesis es tupla 
m = ('a,a,b')
print(m)
print(m.count('a')) 
print(m.find('a')) 
print(t)

t = [1,1,2,3] # con corchetes es LISTA
print(t)
print(t.count(1))

a,a,b
2
0
(1, 4, 3)
[1, 1, 2, 3]
2

SET son listas donde los elementos NO se pueden REPETIR son valores únicos, me devuelve valores sin repetir

In [59]:
mi_lista = [1111111111,'aaaaaaaa',2]
mi_lista1 = [1,1,1,1,1,33,33,1,'aa','a','a,a','aaa',2] 
print(mi_lista)
print(mi_lista1)
print(set(mi_lista))
print(set(mi_lista1)) # muestra los elementos separados por coma, sir repetirlos

[1111111111, 'aaaaaaaa', 2]
[1, 1, 1, 1, 1, 33, 33, 1, 'aa', 'a', 'a,a', 'aaa', 2]
{'aaaaaaaa', 2, 1111111111}
{1, 33, 2, 'a', 'aaa', 'a,a', 'aa'}